
@{
    ViewBag.Title = "hienloiGmail";
    Layout = "~/Views/Shared/_KhachhangLayout.cshtml";
}

<h2>Gửi Gmail thất bại đơn hàng của bạn chưa được xử lý. Vui lòng kiểm tra lại Email của bạn. Cám ơn</h2>

