
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_KhachhangLayout.cshtml";
}
<center>
    <h3>Đơn hàng đang chờ xử lý. Chúng tôi sẽ liên hệ lại với bạn A.S.A.P</h3>
    <h4>Thanks for using our serivces, hope you come back. Good luck!</h4>
    @Html.ActionLink("Quay về trang chủ", "Index", "TrangChu")
</center>

